:root {
    --main-bg-color:#EE7933;
    --secondary-bg-color:#66BDD9;
    --main-light-color:#FFFAEC;
}


/* ----- game.php ----- */

.game-page-container{
    margin: 0;
    overflow: hidden;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
}

/* ----- game.php : logo dark ----- */

.logo-dark {
    position: absolute;
    display: flex;
    padding-left: 0%;
    top: 1px;
}

.logo-dark-img {
    z-index: -1;
    width: 40%;
    width: 40%;
}
.logo-dark-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

/* ----- game.php : section interface ----- */

.section-interface {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card-container {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color:var(--secondary-bg-color) ;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 50px;
    background: var(--main-light-color);
}

/* ----- game.php : section menu ----- */

.section-menu{
    width: 20vw;
    height: 60vh;
    background-color: var(--secondary-bg-color);
    border-radius: 12px;
}

.menu-container {
    display: flex;
    justify-content: center;

}

.title-menu {
    display: flex;
    padding-top: 20px;
    font-size: 30px;
    color: var(--main-light-color);
}

