body {
    background-color: #EE7933;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
    height: auto;
	transform: translateX(50px);
	z-index: -1;
}

.title-header {
    font-size: 100px;
    color: white;
}

.home-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title-form {
    font-size: 50px;
    color: white;
}

.title-score {
	font-size: 50px;
	color: #66BDD9;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
	margin: 10px;
	align-self: center;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	cursor: pointer;
	border: 3px solid;
	padding: 20px 40px;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
  	touch-action: manipulation;
	outline: none;
}

.btn-inscription, .connexion {
    width: 214px;
	margin: 10px;
	align-self: center;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	color: rgb(236, 236, 236);
	cursor: pointer;
	border: 3px solid;
	padding: 20px 40px;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
  	touch-action: manipulation;
    background-color: #66BDD9;
}

.btn-inscription:active, .connexion:active, .input:active {
	box-shadow: 0px 0px 0px 0px;
  	top: 5px;
  	left: 5px;
}

.home-connecter {
    background-color: white;
}

.title-header-connecter {
    font-size: 100px;
    color: #EE7933;
}

.list-monde{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 60px;
	margin-top: 20px;
}

.list-monde:first-child {
	margin-left: 30px;
}

.list-monde:last-child {
	margin-bottom: 30px;
}

.nb-monde {
	color: #66BDD9;
	font-size: 50px;
}

.title-monde {
	color: #66BDD9;
	font-size: 40px;
}

.description-monde {
	color: #EE7933;
	font-size: 25px;
	width: 320px;
}