:root {
    --main-bg-color:#EE7933;
    --secondary-bg-color:#66BDD9;
    --main-light-color:#FFFAEC;
}


/* ----- game.php backup----- */

.game-page-container{
    margin: 0;
    overflow: hidden;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
}

/* ----- game.php : logo dark backup----- */

.logo-dark {
    position: absolute;
    display: flex;
    padding-left: 0%;
    top: 1px;
}

.logo-dark-img {
    z-index: -1;
    width: 40%;
    width: 40%;
}
.logo-dark-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

/* ----- game.php : section interface backup----- */

.section-interface {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card-container {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color:var(--secondary-bg-color) ;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 50px;
    background: var(--main-light-color);
}

/* ----- game.php : section menu backup----- */

.section-menu{
    width: 20vw;
    height: 60vh;
    background-color: var(--secondary-bg-color);
    border-radius: 12px;
}

.menu-container {
    display: flex;
    justify-content: center;

}

.title-menu {
    display: flex;
    padding-top: 20px;
    font-size: 30px;
    color: var(--main-light-color);
}

/* ----- game.php : V1 ----- */

.resume{
    display:none;
  }
  .printResume{
    display:block;
    position : absolute;
    bottom : calc(50vh - 100px);
    left : calc(50vh - 100px);
    width : 200px;
    height : 200px;
    z-index: 400;
  }


/* ----- arcade.php : section lvl-choice ----- */
h1{
    font-size: 100px;
    color: #EE7933;
    margin-left: 50px;
}
.lvl-choice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.lvl-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lvl-card-title {
    color: var(--secondary-bg-color);
    font-size: 40px;
}

.lvl-card-img {
    border-radius: 12px;
}

.lvl-card-txt {
    color: var(--main-bg-color);
    font-size: 20px;
}

/* ----- leaderboard.php : section leaderboard ----- */

.section-leaderboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.score-card-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.rank-title {
    color: var(--main-bg-color);
    font-size: 40px;
}

.rank-1, .rank-2, .rank-3 {
    font-size: 30px;
}
audio{
    position: absolute;
    top: 2000;
}
